<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fc6dc4">  <td>20/01/25 09:41:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateBooking.bookAticket(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@223f3642]">bookAticket</td>
  <td>main@2061347276</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/25 09:41:40</td>   <td>-15404</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@223f3642]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2061347276</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/25 09:42:28</td>   <td>32933</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@223f3642]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2061347276</td>   <td></td> </tr>
</table>
