<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gigm suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93938a">  <td>20/01/07 14:28:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateAmbassador.CheckAmbassador()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">CheckAmbassador</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/01/07 14:26:45</td>   <td>-100313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateHeaderLinks.FooterlinksCheck()[pri:1, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">FooterlinksCheck</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:18</td>   <td>-67999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:26</td>   <td>-60127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:34</td>   <td>-51860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>20/01/07 14:29:21</td>   <td>55583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateBooking.bookAticket()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">bookAticket</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/01/07 14:25:43</td>   <td>-163012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateHeaderLinks.checkHeaderLinks()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">checkHeaderLinks</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:25:30</td>   <td>-175407</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:00</td>   <td>-85492</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:42</td>   <td>-43287</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:28:03</td>   <td>-22380</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:03</td>   <td>36968</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="a3a2c2">  <td>20/01/07 14:27:57</td>   <td>-28552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateSignUp.signUp()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">signUp</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:00</td>   <td>-85619</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:42</td>   <td>-43359</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:28:03</td>   <td>-22453</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:03</td>   <td>36908</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:51</td>   <td>85071</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
</table>
