<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Gigm suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:25:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/01/07 14:25:43</td>   <td>12395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateHeaderLinks.checkHeaderLinks()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">checkHeaderLinks</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="fc6dc4">  <td>20/01/07 14:26:45</td>   <td>75094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateHeaderLinks.FooterlinksCheck()[pri:1, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">FooterlinksCheck</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:00</td>   <td>89788</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateHeaderLinks@223f3642]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:00</td>   <td>89915</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:18</td>   <td>107408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:26</td>   <td>115280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="86e9a5">  <td>20/01/07 14:27:34</td>   <td>123547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateLogin.Login(java.lang.String, java.lang.String)[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">Login</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:42</td>   <td>132048</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateLogin@318ba8c8]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:27:42</td>   <td>132120</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="a3a2c2">  <td>20/01/07 14:27:57</td>   <td>146855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateSignUp.signUp()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">signUp</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:28:03</td>   <td>152954</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateSignUp@163e4e87]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:28:03</td>   <td>153027</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>20/01/07 14:28:26</td>   <td>175407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateAmbassador.CheckAmbassador()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">CheckAmbassador</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:03</td>   <td>212315</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateAmbassador@159f197]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:03</td>   <td>212375</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="e9b5a8">  <td>20/01/07 14:29:21</td>   <td>230990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateBooking.bookAticket()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">bookAticket</td>
  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/01/07 14:29:51</td>   <td>260478</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.testcases.ValidateBooking@48fa0f47]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@309923987</td>   <td></td> </tr>
</table>
