<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Framework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>19/11/27 14:06:06</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.cicodlyte.headerTestCases.CheckHeaderLinks@4387b79e]">&gt;&gt;setUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1422222071</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>19/11/27 14:06:37</td>   <td>31509</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.cicodlyte.headerTestCases.CheckHeaderLinks@4387b79e]">&lt;&lt;tearDown</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1422222071</td>   <td></td> </tr>
</table>
